<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera is used to detect your punch form</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone is used to recognize words of gratitude</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech recognition is used to detect words of gratitude</string>
</dict>
</plist>
