<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>正拳突きのフォームを検出するためにカメラを使用します</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>感謝の言葉を認識するためにマイクを使用します</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>感謝の言葉を認識するために音声認識を使用します</string>
</dict>
</plist>
